<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=0.3,user-scalable=yes"
    />
    <title>传化组件库</title>
    <script>
      //if (!window.__POWERED_BY_QIANKUN__) {
        document.write(
          '<' + 'link defer href="' + '/libs/dll/magicvendors.css ' + '" rel="stylesheet" /' + '>',
        );
        document.write('<' + 'link defer href="' + '/libs/markdown.css' + '" rel="stylesheet" /' + '>');
      //}
    </script>
    <script>
      //if (!window.__POWERED_BY_QIANKUN__) {
        document.write('<' + 'script defer src="/libs/dll/magicvendors.dll.js"' + '></' + 'script' + '>');
      //}
    </script>
    <!--addHeaderContent-->
  </head>

  <body>
    <div id="aaa"></div>
    <div id="root"></div>
    <noscript
      >如果你看到这个提示，说明 <strong>您的浏览器没有启用 JavaScript</strong>, 请
      <strong>开启 JS</strong>。</noscript
    >
  </body>
</html>
